<div class="text-center mb-4">
  <h1 class="h3 mb-3 font-weight-normal">ログイン</h1>

  <div class="form-group">
    <label>会員登録がまだの方はこちら</label>
    <a href="/users/new">
      <button type="button" class="btn btn-warning">会員登録ページ</button>
    </a>
  </div>
</div>

<div class="form-label-group">
  <%= form_for(:session, url: login_path) do |f| %>
    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %>
     <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <%= f.submit "サインイン", class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
