<% unless @contents.present? %>
  <%= @contents.each do |content| %>
  <div class="col-sm-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
      <h4><%= content.title %></h4>
      <div class="buttons">
        <a href="/contents/<%= content.id %>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
        <a href="/contents/<%= content.id %>/edit"><span class="glyphicon glyphicon-edit"></span></a>
      </div>
      </div>
      <div class="panel-body">
        <p><a href="<%= content.url %>">詳細URL</a></p>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
