<% if @contents.present? %>

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">投稿した記事一覧</h1>
  </div>

  <% @contents.each do |content| %>
    <div class="accordion" id="accordionExample">
      <div class="card" role="button" data-toggle="collapse" data-target="#colspace<%= content.id %>" aria-expanded="true" aria-controls="<colspace<%= content.id %>">
        <div class="card-header" id="heading<%= content.id %>">
          <h5 class="mb-0">
            <a href="<%= content.url %>" target="blank">
              <button type="button" class="btn btn-link">
                <%= content.title %>
              </button>
            </a>
          </h5>
          <div align="right">
            <%= link_to "", edit_user_content_path(user_id: current_user, id: content), class: "far fa-edit" %>
            <%= link_to "", user_content_path(user_id: current_user, id: content), method: :delete, data: {confirm: "【確認】削除しますか？"},class: "fas fa-trash" %>
          </div>
        </div>

        <div id="colspace<%= content.id %>" class="collapse" aria-labelledby="heading<%= content.id %>" data-parent="#accordionExample">
          <div class="card-body">
            <%= content.memo %>
          </div>
        </div>
    </div>
  <% end %>
<% end %>
